@import '~@angular/material/theming';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.entry-description {
  max-width: 180px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

md-card-content {
  h3 {
    margin-bottom: 4px;
    font-size: inherit;
    font-weight: 500;
  }
}
