:host {
  display: flex;
  justify-content: center;
}

.main-container {
  overflow: auto;
  background-color: white;
}
.small-container {
  width: 100%;
  height: 100%;
}

.extended-container {
  width: 100%;
  height: 100%;
}
