<h2 md-dialog-title>Link</h2>
<md-dialog-content>
  <div [formGroup]="infoForm">
    <div formArrayName="links">
      <div *ngFor="let link of links.controls; let i=index; first as isFirst" [formGroupName]="i">
        <div class="divider" *ngIf="!isFirst"></div>
        <app-link-input formControlName="link" [recipeId]="data.recipeId"></app-link-input>
      </div>
    </div>
  </div>
</md-dialog-content>
<md-dialog-actions class="ag-dialog-actions">
  <button md-button md-dialog-close>cancel</button>
  <button md-button [md-dialog-close]="payload">ok</button>
</md-dialog-actions>
