@import '~@angular/material/theming';

@import 'app/recipes/edit-info-dialog/edit-info-dialog.component-theme';

@include mat-core();

$ag-customtask-primary: mat-palette($mat-blue-grey, 600, 200, 800);
$ag-customtask-accent:  mat-palette($mat-yellow, 800, 500, 900);

$ag-customtask-warn:    mat-palette($mat-red);

$ag-customtask-theme: mat-light-theme($ag-customtask-primary, $ag-customtask-accent, $ag-customtask-warn);

@include angular-material-theme($ag-customtask-theme);

@include edit-info-dialog($ag-customtask-theme);
