<div class="main-container" (blur)="onTouched()">
  <div class="ranges">
    <md-chip-list selectable="false">
      <md-chip *ngFor="let range of ranges | async" (click)="onRangeFocused(range, $event)" [selected]="range.focused" (select)="onChipSelected($event)">
        {{ range.start | time:type }} <md-icon>arrow_forward</md-icon> {{ range.end | time:type }}
      </md-chip>
      <md-chip color="accent" selected (click)="onNewRange()">
        New range <md-icon>add</md-icon>
      </md-chip>
    </md-chip-list>
    <div #editFocusedRange class="edit-focused-range" [formGroup]="form" [ngSwitch]="type">
      <div #editMask class="edit-mask">
        <div *ngSwitchCase="'hour'" class="range-inputs">
          <app-hour-input formControlName="start" style="margin-right: 5px"></app-hour-input>
          <md-icon>arrow_forward</md-icon>
          <app-hour-input formControlName="end" style="margin-left: 15px"></app-hour-input>
        </div>
        <div *ngSwitchCase="'weekday'" class=range-inputs>
          <app-weekday-input formControlName="start" defaultTime="00:00" style="margin-right: 5px"></app-weekday-input>
          <md-icon>arrow_forward</md-icon>
          <app-weekday-input formControlName="end" defaultTime="23:59" style="margin-left: 15px"></app-weekday-input>
        </div>
        <div *ngSwitchCase="'month'" class="range-inputs">
          <app-month-input formControlName="start" style="margin-right: 5px"></app-month-input>
          <md-icon>arrow_forward</md-icon>
          <app-month-input formControlName="end" style="margin-left: 15px"></app-month-input>
        </div>
        <div class="actions">
          <button (click)="onCancelRange()" md-button color='accent'>cancel</button>
          <button (click)="onApplyRange()" md-button color='accent'>apply</button>
        </div>
      </div>
    </div>
  </div>
  <div (click)="onCancelRange()">
    <div class="options-input" (click)="onClick($event)" (slide)="onSlide($event)" (slidestart)="onSlideStart($event)" (slideend)="onSlideEnd()" style="position: relative;">
      <div class="selection" *ngFor="let range of ranges | async"
        [class.option-focused]="range.focused" [style.top]="range.start / maxTime * 100 + '%'"
        [style.bottom]="100 - range.end / maxTime * 100 + '%'"
        (click)="onRangeFocused(range, $event)"></div>
      <div class="options-container">
        <div *ngFor="let tile of tiles" class="option">
          {{ tile.view }}
        </div>
      </div>
    </div>
  </div>
</div>
